<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>175648903088-ubtnuro8u5vh3jm1c3b1he12fjf5us85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175648903088-ubtnuro8u5vh3jm1c3b1he12fjf5us85</string>
	<key>API_KEY</key>
	<string>AIzaSyBapjgtHU1OgEaGRGN5pWzDr6ozivlw0Do</string>
	<key>GCM_SENDER_ID</key>
	<string>175648903088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jharveymorgan.The-Lit-List</string>
	<key>PROJECT_ID</key>
	<string>the-lit-list</string>
	<key>STORAGE_BUCKET</key>
	<string>the-lit-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:175648903088:ios:4c4c7829f4563b80</string>
	<key>DATABASE_URL</key>
	<string>https://the-lit-list.firebaseio.com</string>
</dict>
</plist>